body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* body{
    background-color: #a25bb4;
} */

.container{
    width: 100%;
    min-height: 100vh;
     background-color:  #95aedf;
     padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 440px;
    background: #fff;
    margin: 100px auto ;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
     outline: none; 
      background: transparent; 
     padding: 10px;
     font-weight: 14px;
}

button{
      border: none;
     outline: none; 
     padding: 15px 40px;
     background: #cccb78;
     color: #fff;
     font-size: 16px;
     cursor: pointer;
     border-radius: 30px;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 11px 7px 11px 40px;
    user-select: none;
   cursor: pointer;
   position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28Px;
    width: 28px;
    border-radius: 40px;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul  li.checked{
color: #555;
text-decoration: line-through;
}

ul  li.checked::before{
    background-image: url(./images/checked.png);
}


 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 40%;
} 


ul li span:hover{
background: #edeef0;

} 

#errorHandler{
    position: absolute;
    justify-content: center;
    display: flex;
    background: #e56e1f;
    width: 400px;
    display: none;
    padding: 20px;
    color: rgb(55, 0, 255);
    right: 25%;
    user-select: none;
}